.pallete{    
    display: flex;    
    width: 100%;
    height: 2vw;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 5%;
}
.color_black{
    background-color: black;
    width: 2vw;
    height:100%;    
}
.color_gray{
    background-color: darkgray;
    width: 2vw;
    height:100%;    
}
.color_red{
    background-color: #FF6C6C;
    width: 2vw;
    height:100%;
}
.color_green{
    background-color: #86E57F;
    width: 2vw;
    height:100%;
}
.color_blue{
    background-color: #489CFF;
    width: 2vw;
    height:100%;
}
.color_yellow{
    background-color: #FFFF90;
    width: 2vw;
    height:100%;
}
.color_white{
    background-color: white;
    width: 2vw;
    height:100%;
}
