input[type='radio']{
    height: 0;
    width: 0;
    display: none;
}
.radiogroup{
    display: flex;
}
.radio{    
    border: rgb(226, 86, 86);
    width: 1vw;
    height: 1vw;
    position: absolute;
    left: calc(50% - .5vw);
}
input[type='radio']:checked+.radio{
    border-bottom: .15em solid rgb(226, 86, 86);
    border-right: .4em solid rgb(226, 86, 86);
    transform: rotate(45deg) scale(.5, 1.2);
    transition: .5s;
}
label{
    cursor: pointer;
    vertical-align: middle;
    flex: 1;
    position: relative;
}
label::before{
    content: "";
    display: inline-block;
    height: 2vw;
    border-left: 1px solid #000;   
    vertical-align: middle;
    margin-right: .5vw;
    /*
    transform: scaleY(1);
    transition: width .5s, height .5s, transform .5s;
    */
}
label::after{
    content: "";
    display: inline-block;
    height: 2vw;
    border-left: 1px solid #000;   
    vertical-align: middle;
    margin-left: .5vw;
}